<div class="hostIconSection">
    <div class="hostIconSectionDiv">
        <img class="hostIconSectionLeft" src="/assets/img/imageshost/star.png">
        <span class="hostIconSectionRight">XXX Reviews</span> 
    </div>
    <div class="hostIconSectionDiv">
        <img class="hostIconSectionLeft"  src="/assets/img/imageshost/sheild.png">
        <span class="hostIconSectionRight">Identity Verified</span> 
    </div>
    <div class="hostIconSectionDiv">
        <img class="hostIconSectionLeft"  src="/assets/img/imageshost/shmedal.png">
        <span class="hostIconSectionRight">Superhost</span> 
    </div>
</div>