<div class="hostIconSection">
    <!-- add logic for > zero review -->
    <!-- add count of host reviews -->
    <div class="hostIconSectionDiv" *ngIf="1>0"> 
        <img class="hostIconSectionLeft" src="/assets/img/imageshost/star.png">
        <span class="hostIconSectionRight">{{hostData.id}} Review(s)</span> 
    </div>
    <div class="hostIconSectionDiv" *ngIf="hostData.idverifieded==true">
        <img class="hostIconSectionLeft"  src="/assets/img/imageshost/sheild.png">
        <span class="hostIconSectionRight">Identity Verified</span> 
    </div>
    <!-- add logic for is Superhost review -->
    <div class="hostIconSectionDiv" *ngIf="true==true">
        <img class="hostIconSectionLeft"  src="/assets/img/imageshost/shmedal.png">
        <span class="hostIconSectionRight">Superhost</span> 
    </div>
</div>