<div class="container">
  <div class="child">svg{{ listingData.title }}</div>
  <div class="child">{{ listingType }}</div>
  <div class="child">{{ listingTypeDescriptor }}</div>
  <div class="child">svg</div>
  <div class="child"><p>{{ hostName }} is a {{ hostLevel}}</p></div>
  <div class="child">{{ hostDescriptor }}</div>
  <div class="child">svg</div>
  <div class="child">{{ locationLevel }}</div>
  <div class="child">{{ locationLevelDescriptor }}</div>
  <div class="child">svg</div>
  <div class="child">{{ cancellationInfo }}</div>
  <div class="child">{{ cancellationInfoDescriptor }}</div>
</div>
