<div class="house-rules houseRules">
    <table>
            <th>House rules</th>
            <tr><p>Check-in: After 3:00 PM</p>
            <p>Checkout: 11:00 AM</p>
            <p>Self check-in with keypad</p>
            <p>Pets are allowed</p>
            <p>Smoking is allowed</p>

            <p><a href="">Show all</a></p></tr>
    </table>

    <!-- <div>
    <strong><h3>Additional rules</h3></strong> -->
    <!-- <p>Smoking allowed at our screened back porch and backyard but not inside the bedrooms. Please let us know if you have any question.
        
        Please leave key at door entrance when checking out as where you found it checking in.
        
        Parties and events should not go beyond 10 pm. Guesthouse, backyard and back porch are open to parties and events. Max 5 overnight stay guests please.
        
        Violation of house rule leads to forfeit of deposit.
        
        There are 3 cameras (1) at yard entrance (2) at guest house entrance (3) at main house entrance.</p> -->
    <!-- </div> -->
</div>