<div class="house-rules">
    
    
    <div class="checkin">
        <div class="clock-icon">
            <span class="clockspan" aria-hidden="true">󰀥</span>
        </div>
        <span>Check-in: After 3:00 PM</span>
    </div>

    <div class="checkin">
        <div class="clock-icon">
            <span class="clockspan" aria-hidden="true">󰀥</span>
        </div>
        <span>Checkout: 11:00 AM</span>
    </div>

    <div class="keypad">
        <div class="keypad-icon">
            <span class="keypadspan" aria-hidden="true">󰄄</span>
        </div>
        <span>Self check-in with keypad</span>
    </div>
    
    <div class="pets">
        <div class="pet-icon">
            <span class="petspan" aria-hidden="true">󱤅</span>
        </div><span>Pets are allowed</span>
    </div>

    <div class="smoking">
        <div class="smoking-icon">
            <span class="smokingspan" aria-hidden="true">󱤇</span>
        </div><span>Smoking is allowed</span>
    </div>

    <div style="margin-top: 24px;">
        <a href="/rooms/36207587/house-rules?source_impression_id=p3_1598973076_IkerlQtaoSgSauXh" class="link">
            <span class="showall">
                <span class="showallspan">Show all</span>
                <span class="arrowspan">
                    <svg viewBox="0 0 18 18" role="presentation" focusable="false" aria-hidden="true" style="height: 12px; width: 12px; display: block; fill: rgb(34, 34, 34);">
                    <path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd"></path>
                    </svg>
                </span>
            </span>
        </a>
    </div>

    <!-- <h3>Additional rules</h3> --> 
        <!-- dialog box goes here -->

</div>