<div class="container">
  <div class="header">
    <div class="amenityRow">
      <div class="icon">
        icon
      </div>
      <div class="p">
        Wifi
      </div>
    </div>
    <div class="amenityRow">
      <div class="icon">
        icon
      </div>
      <div class="p">
        Wifi
      </div>
    </div>
    <div class="amenityRow">
      <div class="icon">
        icon
      </div>
      <div class="p">
        Wifi
      </div>
    </div>
    <div class="amenityRow">
      <div class="icon">
        icon
      </div>
      <div class="p">
        Wifi
      </div>
    </div>
    <div class="amenityRow">
      <div class="icon">
        icon
      </div>
      <div class="p">
        Wifi
      </div>
    </div>
    <div class="showMore">
      <div class="button">
        <button>Show all 37 amenities</button>
      </div>
    </div>
  </div>
</div>
