<div class="container">
  <div class="header">
    <h3>Amenities</h3>
  </div>
  <div class="amenityRow">
    <div class="icon">
      icon
    </div>
    <div class="p">
      {{ !amenitiesData.laptopFriendly ? 'laptop friendly' : '' }}
    </div>
  </div>
  <div class="amenityRow">
    <div class="icon">
      icon
    </div>
    <div class="p">
      {{ !amenitiesData.cableTv ? 'cable tv' : '' }}
    </div>
  </div>
  <div class="amenityRow">
    <div class="icon">
      icon
    </div>
    <div class="p">
      {{ !amenitiesData.airConditioning ? 'air conditioning' : '' }}
    </div>
  </div>
  <div class="amenityRow">
    <div class="icon">
      icon
    </div>
    <div class="p">
      {{ !amenitiesData.essentials ? 'essentials' : '' }}
    </div>
  </div>
  <div class="amenityRow">
    <div class="icon">
      icon
    </div>
    <div class="p">
      {{ !amenitiesData.longTermStaysAllowed ? 'long term stays allowed' : '' }}
    </div>
  </div>
  <div class="showMore">
    <div class="button">
      <button>Show all 37 amenities</button>
    </div>
  </div>
</div>
