<div class="healthsafety healthSafety">
    <strong><h3>Health & safety</h3></strong>
    <p>Committed to enhanced cleaning protocol. <a href="">Learn more</a></p>
    <p>Earthbnb's social-distancing and other COVID-19-related guidelines apply</p>
    <p>Security camera/recording device <a href="">Learn more</a> </p>
    <p>Carbon monoxide alarm</p>

    <p><a href="">Show all</a></p>
    <!-- <div>
    <strong><h3>You must also acknowledge</h3></strong>
    <p>Some spaces are shared — Second bedroom & bathroom are accessed by the back porch, the dining room, kitchen and living room of the main house. 
    </p>
    <p>Security Deposit - if you damage the home, you may be charged up to $120.</p>
    </div> -->
</div>