<div class="listingOuterContainer">
  <p>aoli - listing info container for other components.</p>
  <div class="infoSection">
    <app-title-info></app-title-info>
  </div>
  <div class="infoSection">
    <app-stay-descriptor></app-stay-descriptor>
  </div>
  <div class="infoSection">
    <app-quick-info></app-quick-info>
  </div>
  <div class="infoSection">
    <app-bio-blurb-info></app-bio-blurb-info>
  </div>
  <div class="infoSection">
    <app-sleeping-arrangements-info></app-sleeping-arrangements-info>
  </div>
  <div class="infoSection">
    <app-amenities-info></app-amenities-info>
  </div>
</div>
