<div class="listingOuterContainer">
  <p>listingData.title = {{ listingData.title }}</p>
  <div class="listingInnerContainer">
    <div class="infoSection">
      <app-title-info
        [listingdata]="listingData"
      ></app-title-info>
    </div>
    <div class="infoSection">
      <app-stay-descriptor
        [listingdata]="listingData"
      ></app-stay-descriptor>
    </div>
    <div class="infoSection">

      <app-quick-info
      [listingdata]="listingData"
      ></app-quick-info>
    </div>
    <div class="infoSection">
      <app-bio-blurb-info
      [listingdata]="listingData"
      ></app-bio-blurb-info>
    </div>
    <div class="infoSection">
      <app-sleeping-arrangements-info
        [sleepingarrdata]="sleepingArrData"
      ></app-sleeping-arrangements-info>
    </div>
    <div class="infoSection">
      <app-amenities-info
        [amenitiesdata]="amenitiesData"
      ></app-amenities-info>
    </div>
  </div>
</div>
