.ttd-container {
  width: 100%;
  height: auto;
  background-color: rgb(247, 247, 247);
  top: 0;
}

.ttd-btn-container {
  position: absolute;
  margin: 40px 10px 10px 1050px;
}
/* .ttd-pg-btn-right{
  margin:0 1%;
} */

.inner-ttd-container {
  margin: 0 0 0 90px;
  max-height: 500px;
  width: 100%;
}

#card-ttd {
  height: auto;
  margin-top: 40px;
}

#ttd-img {
  height: 350px;
  max-width: 300px;
  border-radius: 20px;
  object-fit: cover;
}

.middleCenter {
  text-align: center;
}

#pag-ttd-clickable {
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.slideRightSome {
  margin: 0 0 0 80px;
}

.smidgeRight {
  margin: 10px 0 0 20px;
}

@media screen and (max-width: 450px) {
  .ttd-container {
    width: 90%;
    margin: 2%;
  }

  #ttd-img,
  #card-ttd,
  .card-body {
    height: auto;
    width: 70%;
  }
}
