<div class="brianPhotos">
  <div class="mainPhotoBox">
    <!--       
      images courtsey of little brick lane an etsy shop
      https://www.etsy.com/shop/LittleBrickLane?ref=simple-shop-header-name&listing_id=697582391 -->

    <div class="bigPictureBox">
      <div class="largePic">
        <img class="bigMainPic" src="{{ bigPic }}" alt="{{ altBigPic }}" />
      </div>
      <div class="lop">
        <img
          class="littleOnePic"
          src="{{smallPicTopLeft}}"
          alt="{{altSmallPicTopLeft}}"
        />
      </div>
      <div class="lttp">
        <img
          class="littleTwoPic"
          src="{{smallPicTopRight}}"
          alt="{{altSmallPicTopRight}}"
        />
      </div>
      <div class="ltttp">
        <img
          class="littleThreePic"
          src="{{smallPicBotLeft}}"
          alt="{{altSmallPicBotLeft}}"
        />
      </div>
      <div class="lfp">
        <img
          class="littleFourPic"
          src="{{smallPicBotRight}}"
          alt="{{altSmallPicBotRight}}"
        />
      </div>
    </div>
    <p #bwl>brian-photo works!</p>
    <h5>pics from : {{src}}</h5>
    <h3>pictures go here</h3>
    <h3>House # {{ page }}</h3>
    <div class="lastLine">
      <button class="blBackBtn" ng-click="clickDown">Prev</button>
      <button class="blNextBtn" ng-click="clickUp">Next</button>
      <button class="blShowAllBtn">Show All</button>
    </div>
  </div>
</div>
