<div class="brianPhotos">
  <div class="mainPhotoBox">
    <!--       
      images courtsey of little brick lane an etsy shop
      https://www.etsy.com/shop/LittleBrickLane?ref=simple-shop-header-name&listing_id=697582391 -->

    <div class="bigPictureBox">
      <div class="largePic">
        <img
          class="bigMainPic"
          src="https://i.etsystatic.com/12310347/r/il/b4602c/1888402529/il_1588xN.1888402529_n58f.jpg"
          alt="lego house front"
        />
      </div>
      <div class="lop">
        <img
          class="littleOnePic"
          src="https://i.etsystatic.com/12310347/r/il/ba8519/1840915590/il_794xN.1840915590_rlm7.jpg"
          alt="lego house front angle"
        />
      </div>
      <div class="lttp">
        <img
          class="littleTwoPic"
          src="https://i.etsystatic.com/12310347/r/il/339a27/1840915688/il_794xN.1840915688_8i58.jpg"
          alt="lego house backyard angle"
        />
      </div>
      <div class="ltttp">
        <img
          class="littleThreePic"
          src="https://i.etsystatic.com/12310347/r/il/b30b5b/1888403009/il_794xN.1888403009_q3ml.jpg"
          alt="lego house back porch angle"
        />
      </div>
      <div class="lfp">
        <img
          class="littleFourPic"
          src="https://i.etsystatic.com/12310347/r/il/140e47/1840916124/il_794xN.1840916124_gvw6.jpg"
          alt="lego house side angle"
        />
      </div>
    </div>
    <p #bwl >brian-photo works!</p>
    <h3>pictures go here</h3>
    <h3>House #1</h3>
    <div class="lastLine">
      <button class="blBackBtn">Prev</button>
      <button class="blNextBtn">Next</button>
      <button class="blShowAllBtn">Show All</button>
    </div>
  </div>
</div>
