h1, h2, body,p,div{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: #222222;
}

h1{
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
}
h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}
body {
    font-size: 16px;
    margin: 0px; 
}
element.style {
}
@media (min-width: 744px){
    ._1f68da7 {
        height: 80px !important;
    }
}


._1f68da7 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px !important;
    background-color: rgb(255, 255, 255) !important;
    position: fixed !important;
    left: 0px !important;
    right: 0px !important;
    top: 0px !important;
    z-index: 3 !important;
    animation-name: keyframe_1b8bzh6 !important;
    animation-duration: 100ms !important;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Style Attribute {
    --page-shell-max-content-width: 1280px;
}

._2hs30c {
    color: #222222 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    --gp-section-compact-padding: 32px !important;
    --gp-section-compact-padding-condensed: 16px !important;
    --gp-section-standard-padding: 48px !important;
    --gp-section-standard-padding-condensed: 24px !important;
}

._1cnse2m {
    --dls19-brand-color: #FF385C !important;
    --dls19-ui-brand-color: #222222 !important;
    --dls19-pdp-listing-title-weight: 600 !important;
    --dls19-pdp-listing-title-size: 26px !important;
    --dls19-pdp-listing-title-line-height: 30px !important;
    --dls19-brand-gradient-radial: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ) !important;
    --dls19-brand-gradient-accent: #FF385C !important;
}
body {
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
@keyframes keyframe_1b8bzh6{
    0% {
        opacity: 0;
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
}
@media (min-width: 1128px){
._zcn96s {
    padding-left: 80px !important;
    padding-right: 80px !important;
}}
._zcn96s {
    -webkit-box-pack: start !important;
    -webkit-box-align: stretch !important;
    display: flex !important;

    align-items: stretch !important;

    justify-content: flex-start !important;


    flex-wrap: wrap !important;
    width: 100% !important;

    margin-left: 0px !important;
    margin-right: 0px !important;
}
._2hs30c {
    color: #222222 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    --gp-section-compact-padding: 32px !important;
    --gp-section-compact-padding-condensed: 16px !important;
    --gp-section-standard-padding: 48px !important;
    --gp-section-standard-padding-condensed: 24px !important;
}
._1cnse2m {
    --dls19-brand-color: #FF385C !important;
    --dls19-ui-brand-color: #222222 !important;
    --dls19-pdp-listing-title-weight: 600 !important;
    --dls19-pdp-listing-title-size: 26px !important;
    --dls19-pdp-listing-title-line-height: 30px !important;
    --dls19-brand-gradient-radial: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ) !important;
    --dls19-brand-gradient-accent: #FF385C !important;
}
._4i7tcd {
    height: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
}
._2hs30c {
    color: #222222 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    --gp-section-compact-padding: 32px !important;
    --gp-section-compact-padding-condensed: 16px !important;
    --gp-section-standard-padding: 48px !important;
    --gp-section-standard-padding-condensed: 24px !important;
}
._dmn8hc {
    -webkit-box-align: center !important;
    -webkit-box-pack: justify !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}