<div class="duringstay">
    <div class="hostSubtitle">
        During your Stay
    </div>
    <p>
        I'm baby direct trade yr humblebrag, salvia dreamcatcher hella migas biodiesel.
        <br><br>
        Tbh PBR&B stumptown, letterpress narwhal cardigan kogi meditation hot chicken portland paleo adaptogen biodiesel. Single-origin coffee kitsch iceland distillery. Letterpress cronut lo-fi gluten-free. Man bun godard gastropub raw denim, vegan wayfarers bitters shaman post-ironic.
    </p>
</div>
<app-hostsuperhostexplaination></app-hostsuperhostexplaination>
