<div class="titleContainer">
  <div class="child"><h3>{{ listingData.title }}</h3></div>
  <div class="child">⭐{{ " " + listingData.rating }}</div>
  <div class="child">.</div>
  <div class="child">{{ listingData.superHost == 1 ? 'superhost' : '' }}</div>
  <div class="child">.</div>
  <div class="child"><a href="http://">{{ listingData.city + ", " + listingData.stateTerritory + ", " + listingData.country }}</a> </div>
  <div class="child pushRight"><a href="http://">📩 Share</a></div>
  <div class="child "><a href="http://">❤ Save</a></div>
</div>
