.container > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #eee;
}

.container > *:nth-child(odd) {
  background: #ddd;
}

.review-card {
  background: #ddd;
}

.review-card > * :nth-child(even) {
  background: #eee;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
ul {
  /*   -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2; */
  list-style-position: inside;
}

ul li {
  float: left;
  width: 50%;
}

ul li > * {
  display: inline;
}

#cat-cleanliness {
  list-style-type: "Cleanliness  ";
}
#cat-communication {
  list-style-type: "Communication";
}
#cat-location {
  list-style-type: "Location     ";
}
#cat-accuracy {
  list-style-type: "Accuracy     ";
}
#cat-checkin {
  list-style-type: "Check-in     ";
}
#cat-value {
  list-style-type: "Value          ";
}

hr {
  border: none;
  height: 1px;
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}
/* 
progress[value] {
  appearance: none;

  border: none;

  width: 100%;
  height: 20px;

  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;

  color: royalblue;

  position: relative;
  margin: 0 0 1.5em;
}

progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
}

progress[value]::-webkit-progress-value {
  position: relative;

  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 3px;
}

progress[value]::-moz-progress-bar {
  background-image: -moz-linear-gradient(
      135deg,
      transparent,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
    -moz-linear-gradient(left, #09c, #f44);

  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 3px;

} */
