<div class="container">
	<hr
		style="height: 1px; border: none; color: #333; background-color: #333;"
	/>
	<span>{{ '{' }}*{{ '}' }} Reviews {{totalReview.toFixed(2)}}</span>
	<span> Location id: {{locId}}</span>
	<div class="categories">
		<div class="row">
			<!-- avgs of all reviews per location -->
			<ul class="column">
				<li id="cat-cleanliness">
					<span>
						<progress value="{{categoryArr[0]}}" max="5"></progress>
						{{categoryArr[0]}}
					</span>
				</li>
				<li id="cat-accuracy">
					<span>
						<progress value="{{categoryArr[1]}}" max="5"></progress>
						{{categoryArr[1]}}
					</span>
				</li>
				<li id="cat-communication">
					<span>
						<progress value="{{categoryArr[2]}}" max="5"></progress>
						{{categoryArr[2]}}
					</span>
				</li>
				<li id="cat-location">
					<span>
						<progress value="{{categoryArr[3]}}" max="5"></progress>
						{{categoryArr[3]}}
					</span>
				</li>
				<li id="cat-checkin">
					<span>
						<progress
							value="{{(categoryArr[4])}}"
							max="5"
						></progress>
						{{categoryArr[4]}}
					</span>
				</li>
				<li id="cat-value">
					<span>
						<progress
							value="{{(categoryArr[5])}}"
							max="5"
						></progress>
						{{categoryArr[4]}}
					</span>
				</li>
			</ul>
		</div>
	</div>
	<hr />
	<br />
	<div class="review-panel-main">
		<div class="review-card" *ngFor="let review of reviews">
			<div class="profile-img">
				<span>{{ review.userProfile }}</span>
			</div>
			<div class="username">
				<span>{{ review.userName }}</span>
			</div>
			<div class="posted-date">
				<span>{{ review.postedDate }}</span>
			</div>
			<div class="review-text">
				<p>{{ review.reviewText }}</p>
			</div>
		</div>
	</div>

	<button class="btn btn-primary">
		<span>Next Location</span>
	</button>
	<button class="btn btn-primary">
		<span>Previous Location</span>
	</button>
	<hr />
</div>
