
<!-- <app-header></app-header> -->

<!-- <div class="content" role="main">


	<div class="loveless">
		<app-brian-photo></app-brian-photo>
	</div>



	<app-listing-info-container></app-listing-info-container>

	<app-hostslice></app-hostslice>
	
	<app-reviews></app-reviews>
	
	<div class="mann">
		<app-location></app-location>
	</div>
	
	<app-ttkcontainer></app-ttkcontainer>
	<div style="background-color: rgb(247,247,247);">
	<app-mpts-component></app-mpts-component>


  <app-reviews></app-reviews>
  
  <div class = "mann">
    <app-location></app-location>
  </div>

  <app-ttkcontainer></app-ttkcontainer>

  <app-mpts-component></app-mpts-component>

</div> -->

<app-calender></app-calender>

<!-- <app-footer></app-footer> -->

	<app-brian-ttd></app-brian-ttd>

<app-footer></app-footer>
</div>

