.integrationOfListingAndCalender{
    display: flex;
    flex-direction: row;
    margin: 0px 105.5px;
    padding: 0px 80px;

}
.leftSideIntegration{
    display: flex;
    flex-direction: column;
    width: 58.333%;
}

.rightSideIntegration{
    display: flex;
    flex-direction: column;
    width: 33.333%;
    margin-left: 8.333%;
}
.thiswillbeacomponent{
    width: 100%;
    height: 276px;
    margin: 48px 0px 0px 0px;
    background: #fff;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px; 
    padding: 24px; 
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    position: -webkit-sticky ;
    position: sticky ;
    top: 80px ;
    z-index: 1 ;
    padding-right: 1px ;
}