<div class="container">
  <div class="child"><h2>Sleeping Arrangements</h2></div>
  <div class="child">
    <div class="card">
      <div class="icon">
        Icon for bed
      </div>
      <div class="bedroom">
        Bedroom 1
      </div>
      <div class="bedDescriptor">
        1 Queen Bed
      </div>
    </div>
    <div class="card">
      <div class="icon">
        Icon for bed
      </div>
      <div class="bedroom">
        Common Spaces
      </div>
      <div class="bedDescriptor">
        1 Sofa Bed
      </div>
    </div>
  </div>

</div>
